.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  flex: 1 0 auto;
  padding-bottom: 0;
}

body,
html {
  height: 100%;
}

.body-help {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  cursor: default;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 918px;
}

.container--footer {
  max-width: 1328px;
}

.looking {
  padding: 72px 0;
  background-color: #edf3ff;

  h2 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

    p,
    a {
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #97a4ba;
    }

    a {
      margin-left: 6px;
      color: #00e1d4;
    }
  }
}

.rv-button {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
  width: fit-content;
  min-height: 50px;
  overflow: hidden;
  border-radius: 12px;
  background-image: linear-gradient(225deg, #a9ffe0 39.58%, #86d5ff 100%);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), linear-gradient(225deg, #a9ffe0 39.58%, #86d5ff 100%);
    transition: all 0.3s;
  }

  span {
    z-index: 5;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &:hover::after {
    visibility: visible;
    opacity: 1;
  }
}

.result {
  h3 {
    margin-bottom: 16px !important;

    &:last-of-type {
      margin-top: 32px;
    }
  }

  ul {
    li {
      a::after {
        display: none;
      }
    }
  }
}

.search {
  padding: 40px 0 53px;
  background-image: linear-gradient(234.96deg, #a9ffe0 16.38%, #86d5ff 100%);

  h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 36px;
  }

  .button-search {
    position: absolute;
    left: 24px;
    top: 50%;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
    cursor: pointer;
  }

  input {
    padding-left: 64px;
    width: 100%;
    height: 54px;
    outline: none;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(5, 173, 195, 0.26), 0 12px 10px -4px rgba(5, 173, 195, 0.16);
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #000;
    background-color: #fff;

    &::placeholder {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #97a4ba;
    }
  }

  .bread {
    display: flex;

    li {
      +li {
        position: relative;
        margin-left: 16px;

        &::after {
          content: "/";
          position: absolute;
          left: -10px;
          top: 50%;
          color: rgba(#000, 0.7);
          transform: translateY(-50%);
        }
      }
    }

    a {
      opacity: 0.7;
      border-bottom: 1px solid rgba(#000, 0.7);
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.01em;
    }
  }
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 78px;
  border: 1px solid #f6f9fc;
  border-radius: 14px;
  box-shadow: 0 17px 14px -10px rgba(0, 0, 0, 0.05);
  background-color: #fff;

  h2 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000;
  }
}