@import "base/variables";
@import "base/mixins";
@import "reset";
@import "global";
@import "header";
@import "footer";
@import "home";
@import "category";
@import "wallet";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
